[submodule "imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git

[submodule "minitrace"]
	path = thirdparty/minitrace
	url = https://github.com/hrydgard/minitrace.git
